<!DOCTYPE html>
<html lang="en">
<head>
    <title>node-leaderboard sample.</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <script>
        function reloadPage() {
            document.location.reload();
        }

        jQuery(function($) {
            $('#clear').click(function (e) {
                e.preventDefault();

                $.ajax({
                    url: '/clear',
                    type: 'POST',
                    success: function(/*result, textStatus, xhr*/) {
                        reloadPage();
                    }
                });
            });

            $('#insert').submit(function (e) {
                e.preventDefault();

                const _form = $(this);
                $.ajax({
                    url: '/player',
                    type: 'POST',
                    data: _form.serialize(),

                    success: function(/*result, textStatus, xhr*/) {
                        reloadPage();
                    },
                    error: function (xhr, /*textStatus, errorThrown*/) {
                        alert("error: " + xhr.status);
                    }
                });
            });

            $('.modifyScore').click(function (e) {
                e.preventDefault();

                const _link = $(this);
                const id = _link.attr('id');
                $.ajax({
                    url: '/player/' + id,
                    type: 'PATCH',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        patch: {
                            score: +(_link.attr('score'))
                        }
                    }),
                    success: function () {
                        reloadPage();
                    },
                    error: function (xhr, /*textStatus, errorThrown*/) {
                        alert("error: " + xhr.status);
                    }
                });
            });

            $('.remove').click(function (e) {
                e.preventDefault();

                const _link = $(this);
                const id = _link.attr('id');
                $.ajax({
                    url: '/player/' + id,
                    type: 'DELETE',
                    contentType: 'application/json',
                    success: function () {
                        reloadPage();
                    },
                    error: function (xhr, /*textStatus, errorThrown*/) {
                        alert("error: " + xhr.status);
                    }
                });
            });
        });
    </script>
</head>

<body>
    <div class="container">
        <div class="row">
            <h2>node-leaderboard sample.</h2>

            <div class="row" style="text-align: right">
                <form id="insert">
                    <button type="submit" class="btn btn-sm btn-primary">register user.</button>
                </form>
            </div>

            <div class="row">
                <div style="padding:12px 12px 0px 0px;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>data</th>
                            <th></th>
                        </tr>
                        </thead>
                        <% players.forEach((player) => { %>
                        <tr>
                            <td><%=player.id%></td>
                            <td><%=JSON.stringify(player)%></td>
                            <td>
                                <a class="btn btn-primary btn-xs modifyScore" id="<%=player.id%>" score="<%=player.score+1%>" href="javascript:void(0);">++</a>
                                <a class="btn btn-primary btn-xs modifyScore" id="<%=player.id%>" score="<%=player.score-1%>" href="javascript:void(0);">--</a>
                                <a class="btn btn-warning btn-xs remove" id="<%=player.id%>" href="javascript:void(0);">remove</a>
                            </td>
                        </tr>
                        <% }); %>
                    </table>
                </div>
            </div>

            <div class="row" style="text-align: right">
                <form id="clear">
                    <button type="button" class="btn btn-sm btn-danger">clear all.</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
